# macOS
.DS_Store
docs/.DS_Store
site/.DS_Store
site/assets/.DS_Store
site/assets/javascripts/.DS_Store
site/linux-commands/.DS_Store
site/linux-software/.DS_Store
site/tools-customise/.DS_Store

# MkDocs
site/

# Mintlify
.mintlify/
node_modules/
.next/
.cache/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
